@import "tailwindcss";
html {
  scroll-behavior: smooth;
}

body {
  font-family: var(--font-inter);
}

html[lang="fa"] body {
  font-family: var(--font-vazirmatn), sans-serif;
}

.font-bebas {
  font-family: var(--font-bebas);
}
@theme {
  --breakpoint-xs: 30rem; /* 480px */
}